@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-main-mask-from: var(--main-mask-from);
  --color-main-mask-via: var(--main-mask-via);
  --color-main-mask-to: var(--main-mask-to);
  --color-dark-background: var(--dark-background);
  --color-dark-background-secondary: var(--dark-background-secondary);
  --color-dark-secondary: var(--dark-secondary);
  --color-dark-foreground: var(--dark-foreground);
  --color-dark-foreground-secondary: var(--dark-foreground-secondary);

  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --drop-shadow-button:  var(--shadow-button );
  --drop-shadow-glass:  var(--shadow-glass );
  --drop-shadow-form:  var(--shadow-form );
  --shadow-header:  var(--shadow-header );
}

:root {
  --background: linear-gradient(152deg, #21242D 17.38%, #1C1F28 82.62%);

  

  --background-secondary: linear-gradient(180deg, #171A23 0%, #181B24 100%);
  --main-mask-from:  #101219 ;
  --main-mask-via: rgba(217, 217, 217, 0.64) ;
  --main-mask-to: #181B24;
  --primary: radial-gradient(123.83% 99.06% at 49.75% 0%, #6A7EFF 0%, #4962FF 48.44%, #3A55FF 100%);
  --secondary: linear-gradient(180deg, #343A47 0%, #2C3140 100%); 
  --secondary-gradient-from: #343A47;
  --secondary-gradient-to: #2C3140;
  --foreground: #FFF;
  --foreground-secondary: #919399;


  --border-primary: 1.6px solid rgba(255, 255, 255, 0.15);
  --border-secondary: 1.6px solid #3F4655;;


  --shadow-header: 0px 4px 48px 0px rgba(39, 42, 52, 0.24) inset;
  --shadow-primary:  0px 5.486px 14.629px 0px rgba(0, 0, 0, 0.15);
  --shadow-secondary: 0px 5.43px 14.48px 0px rgba(0, 0, 0, 0.15);


  --dark-background: #202020;
  --dark-background-secondary: #2C2C2C;
  --dark-secondary: #343434;
  --dark-foreground: #EEEEEE;
  --dark-foreground-secondary: #BCBCBC;



  --glass-border-light: rgba(248, 248, 248, 0.5);
  --glass-border-dark: rgba(248, 248, 248, 0.2);
}

/* Add mix-blend-mode support for Tailwind */
@layer utilities {
  .mix-blend-plus-lighter {
    mix-blend-mode: plus-lighter;
  }
}

.main-layout {
  display: grid;
  max-width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-rows: 76px 1fr;
  grid-template-columns: var(--aside-width, 280px) 1fr 352px;
  grid-template-areas: 
  "header header header"
  "aside main secondary-aside"
  ;
  overflow: hidden;
}

.main-layout.expanded {
  grid-template-columns: 280px 1fr 352px;
  grid-template-areas:
    "header header header"
    "aside main secondary-aside";
}

.main-layout.collapsed {
  grid-template-columns: 70px 1fr 352px;
  grid-template-areas:
    "header header header"
    "aside main secondary-aside";
}

/* Transición y ocultación suave del Aside en pantallas menores a 770px */
.aside-responsive {
  transition: all 0.3s ease-in-out;
}

@media (max-width: 770px) {
  /* Oculta el Aside: lo desliza y reduce su ancho, padding y opacidad */
  .aside-responsive {
    width: 0 !important;
    padding: 0 !important;
    opacity: 0;
    overflow: hidden;
  }

  /* Ajusta el grid del layout para que el main ocupe el lugar del aside */
  .main-layout {
    grid-template-columns: 0 1fr 300px;
  }
}



.header-shadow {
  box-shadow: 0px 4px 48px 0px rgba(39, 42, 52, 0.24) inset;
 }

.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent; /* For Firefox */
  }

  /* For Webkit browsers (Chrome, Safari, etc.) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }


  .background-header {
    background: var(--background);
    box-shadow: 0px 4px 48px 0px rgba(39, 42, 52, 0.24) inset;
  }

  .background-aside{
    background: var(--background-secondary);
    box-shadow: 0px 0px 12px 0px rgba(16, 19, 26, 0.32);
  }

  .background-primary {
    background: var(--primary);
    
  }
  

  .background-secondary {
    background: var(--secondary);

  }

  .shadow-primary {
    box-shadow: var(--shadow-primary);
  }
  .shadow-primary {
    box-shadow: var(--shadow-secondary);
  }
  
  .border-primary {
    border-top: var(--border-primary)
  }
  .border-secondary {
    border-top: var(--border-secondary)
  }