@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-primary-gradient-from: var(--background-primary-gradient-from);
  --color-background-primary-gradient-to: var(--background-primary-gradient-to);
  --color-background-secondary: var(--background-secondary);
  --color-background-secondary-gradient-from: var(--background-secondary-gradient-from);
  --color-background-secondary-gradient-to: var(--background-secondary-gradient-to);
  --color-primary-gradient-from: var(--primary-gradient-from);
  --color-primary-gradient-via: var(--primary-gradient-via);
  --color-primary-gradient-to: var(--primary-gradient-to);
  --color-secondary: var(--secondary);
  --color-secondary-gradient-from: var(--secondary-gradient-from);
  --color-secondary-gradient-via: var(--secondary-gradient-via);
  --color-secondary-gradient-to: var(--secondary-gradient-to);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-main-mask-from: var(--main-mask-from);
  --color-main-mask-via: var(--main-mask-via);
  --color-main-mask-to: var(--main-mask-to);
  --color-dark-background: var(--dark-background);
  --color-dark-background-secondary: var(--dark-background-secondary);
  --color-dark-secondary: var(--dark-secondary);
  --color-dark-foreground: var(--dark-foreground);
  --color-dark-foreground-secondary: var(--dark-foreground-secondary);

  --color-border-primary: var(--border-primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --drop-shadow-button:  var(--shadow-button );
  --drop-shadow-glass:  var(--shadow-glass );
  --drop-shadow-form:  var(--shadow-form );
  --shadow-header:  var(--shadow-header );
}

:root {
  --background: #171A23;
  --background-primary-gradient-from: #171A23;
  --background-primary-gradient-to: #181B24;
  --background-secondary-gradient-from: #2c2f39;
  --background-secondary-gradient-to: #222630;
  --main-mask-from:  #101219 ;
  --main-mask-via: rgba(217, 217, 217, 0.64) ;
  --main-mask-to: #181B24;
  --primary-gradient-from:#4962FF;
  --primary-gradient-via: #6A7EFF;
  --primary-gradient-to: #3A55FF;
  --secondary: #323845;   
  --secondary-gradient-from: #343A47;
  --secondary-gradient-to: #2C3140;
  --foreground: #FFF;
  --foreground-secondary: #919399;


  --border-primary: #303541;


  --shadow-header: 0px 4px 48px 0px rgba(39, 42, 52, 0.24) inset;

  --dark-background: #202020;
  --dark-background-secondary: #2C2C2C;
  --dark-secondary: #343434;
  --dark-foreground: #EEEEEE;
  --dark-foreground-secondary: #BCBCBC;



  --glass-border-light: rgba(248, 248, 248, 0.5);
  --glass-border-dark: rgba(248, 248, 248, 0.2);
}

/* Add mix-blend-mode support for Tailwind */
@layer utilities {
  .mix-blend-plus-lighter {
    mix-blend-mode: plus-lighter;
  }
}

.main-layout {
  display: grid;
  max-width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-rows: 76px 1fr;
  grid-template-columns: var(--aside-width, 280px) 1fr 300px;
  grid-template-areas: 
  "header header header"
  "aside main secondary-aside"
  ;
  overflow: hidden;
}

.main-layout.expanded {
  grid-template-columns: 280px 1fr 300px;
  grid-template-areas:
    "header header header"
    "aside main secondary-aside";
}

.main-layout.collapsed {
  grid-template-columns: 70px 1fr 300px;
  grid-template-areas:
    "header header header"
    "aside main secondary-aside";
}


.header-shadow {
  box-shadow: 0px 4px 48px 0px rgba(39, 42, 52, 0.24) inset;
 }

.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent; /* For Firefox */
  }

  /* For Webkit browsers (Chrome, Safari, etc.) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }